.icon-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-component > p {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  opacity: 50%;
}

.icon-component:hover {
  cursor: pointer;
  /* width: 275px;
    height: 222px; */
}
