.icon-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-component > p {
  font-size: 24px;
  font-weight: 500;
  color: #Ffffff;
  opacity: 100%;
  text-align: center;
}

.icon-component:hover {
  cursor: pointer;
  /* width: 275px;
    height: 222px; */
}
.img{
  width: 220px;
  height: 220px;
}
